@import '@/styles/animations.scss';

$--screen-sm: theme('screens.sm');

.personalCard {
  box-shadow: rgb(0 0 0 / 20%) -2px -2px 10px 1px inset;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.personalCardAvatar {
  cursor: pointer;
  animation: pulsate 3s ease-out infinite;
}

.personalCardAvatar:hover {
  box-shadow: rgb(255 133 0 / 10%) 0px 0px 20px 20px;
}

@media (min-width: $--screen-sm) {
  .personalCard {
    border-radius: 10rem 4rem 4rem 10rem;
  }
}