.customSeparator {
  min-width: 31.2px;
}

.customDot {
  align-self: center;
}

.section {
  padding: 4rem 0;
}

.stickyContainer {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.scrollGradient {
  background:
    linear-gradient(#ffffff 33%, rgba(67, 211, 151, 0)),
    linear-gradient(rgba(67, 211, 151, 0), #ffffff 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(34, 34, 34, 0.5), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(34, 34, 34, 0.5), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
}

.scrollGradientSides {
  background-image: linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
    linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

.storyCard {
  padding: 1.5rem;
  margin-bottom: 2rem;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}








.circle{
  max-width: 100px;
}

.circle:after {
  content: '';
  padding-top: 100%;
}

.firstAbsolute:before {
  content: url("/images/arrow.png") !important;
}



.firstElement:before,
.firstElement:after {
  content: "";
  flex: 1;
  background: white;
  height: 100px;
  text-align: center;
}
.firstElement:after {
  content: "";
  background: transparent;
  height: 100px;  
}

.lastElement:before,
.lastElement:after {
  content: '';
  flex: 1;
  background: white;
  height: 100px;
  text-align: center;
}
.lastElement:before {
  content: "";
  background: transparent;
  height: 100px;  
}


// TODO: Set as max height 90vh
// and in this case ricalculate the background steps

$boxHeight: 40em;
$maxHeight: 90vh;
$gradientTopHeight: 5em;
$gradientBottomHeight: 35em;

.customTimelineContainer {
  position: relative;
  height: $boxHeight;
  max-height: $maxHeight;
  overflow-y: hidden;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $boxHeight;
  max-height: $maxHeight;
  pointer-events: none;
  z-index: 20;
}
.content {
  position: relative;
  z-index: 10;
  overflow-y: scroll;
  height: $boxHeight;
  max-height: $maxHeight;
}