.peripheralConnector {
    flex-grow: 0.1;
    background-color: theme('colors.primary.main');
}

.centralConnector {
    background-color: theme('colors.transparent');
    border-left: 2px dashed theme('colors.primary.main');
}

.dot {
    background-color: theme('colors.transparent');
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.dotImage {
    width: 75%;
}

.timelineContent {
    padding-block: 12px;
    padding-inline: 16px;
    align-self: start;
    margin-top: 11.5px;
}

.timelineItem {
    flex-direction: row;
    align-items: stretch;
}

.shape {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 100%;
}

@media (max-width: theme('screens.sm')) {
    .centralConnector {
        display: none;
    }

    .timelineItem {
        flex-direction: column;
        align-items: center;
    }
}

.saturatedBG:hover {
    backdrop-filter: saturate(50%) blur(30px);
}